.questionContainer {
  display: flex;
  flex-direction: column;
}

.questionLabel {
  font-size: 12px;
  color: rgb(180, 180, 180);
  margin: 8px 0;
}

.questionText {
  font-size: 16px;
  color: rgb(80, 80, 80);
}
