* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

.appContainer {
  padding: 16px;
  max-width: 540px;
  margin: auto;
}

.loadingContainer {
  border-radius: 8px;
  padding-top: 32px;
  padding-bottom: 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loadingSpinner {
  width: 80px;
}

.loadingText {
  font-size: 16px;
  font-weight: 500;
  color: rgb(140, 140, 140);
}

.answersContainer {
  margin: 16px 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.questionContainer {
  display: flex;
  flex-direction: column;
  background-color: rgb(250, 250, 250);
  border-radius: 8px;
  padding: 16px;
}
